<div class="tab-pane" id="current_rentals_in">
	<% if (user.rentedInBoards().first()) { %>
		<% user.rentedInBoards().first().rentals().each(function (rental) { %>
			
			<div class="panel panel-default">
		  <div class="panel-heading">Rented In</div>
		  <div class="panel-body">
			<div class="col">
			  Rented From: <%= rental.escape('owner_fname') + " " + rental.escape('owner_lname') %><br>
		    Start Date: <%= rental.escape('start_date') %> <br>
				End Date: <%= rental.escape('end_date') %> <br>

				<% var ppd = rental.escape('price') %>
				Price per Day: $<%= ppd %>
				<% var totalDays = moment(rental.escape('end_date')).diff(moment(rental.escape('start_date')), 'days') %>
				Total Price: <%= totalDays * ppd %>
				Board Status: <%= rental.escape('status') %>
			</div>

		  </div>
			</div>

		<% }) %>
	<% } %>
</div>