<li>
	<div class="board-result-redirect">
	<a href="#boards/<%= board.id %>" class="results-link">
	
		<div class="panel board-result">
		  <!-- <div class="panel-heading"> -->
		    <!-- <h3 class="panel-title"> -->
		    	
		    <!-- </h3> -->
		  <!-- </div> -->
		  <div class="panel-body">
		    <div row>
			    <col>
				    <% if (board.photos().first()) { %>
				    	<img src="<%= board.photos().first().get('small') %>" 
				    		class="search-photo img-responsive" alt="Board Photo">
						<% } else { %>
								<img src="" class="search-photo img-responsive img-thumbnail" alt="No Photo Present">
						<% } %>
					</col>
					<col>	
						<h2 class="index-entry">Brand:<%= board.get('brand') %></h2>
				    Length: <%= board.escape('length') %><br>
				    Type: <%= board.escape('board_type') %>
				    <br>
				    <%= board.escape('city') %>
				    <br>
				  </col>
			  </div>
		  </div>
		</div>

</a>
</div>
</li>