<div class="clndr-controls">
  <div class="clndr-previous-button">&lsaquo;</div>
  <div class="month"><%= month %></div>
  <div class="clndr-next-button">&rsaquo;</div>
</div>
<div class="clndr-grid">
  <div class="days-of-the-week">
    <% _.each(daysOfTheWeek, function(day) { %>
      <div class="header-day"><%= day %></div>
    <% }); %>
    
    <div class="days">
      <% _.each(days, function(day) { %>
        <% var xyz = day.events[0]; %>
        <div class="<%= day.classes %>
        <% if (day.classes.indexOf('past') === -1) { %>
          <% if (!(_.contains(day.classes, 'past'))) { %>
            <% if (day.events[0]) { %> 
              <% if (day.events[0].status === "Available") { %>
                available
              <% } else { %>
                unavailable
              <% } %>
            <% } else { %>         
              available
            <% } %>
          <% } %>
        <% } %>
          ">
          <%= day.day %><br>
          <% if (day.classes.indexOf('past') === -1) { %>      
            <% if (day.events[0]) { %>
              <%= day.events[0].status %>
            <% } else { %>
              <% if (day.events[0]) { %>
                $<%= day.events[0].price %><br>
              <% } %>
              Available
            <% } %>
          <% } %>  
        </div>
      <% }); %>
    </div>
  </div>
</div>
<div class="clndr-today-button">Today</div>