<h1>
	<%= board.escape('year') %>
	<%= board.escape('brand') %>
	<%= board.escape('model') %>
	
</h1>

<br>

<div class="row">
	<div class="col-md-5">
		<%= JST['boards/show/carousel']({board: this.model}) %>

		<div class="board-info-tabs"></div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5">
		<div class="calendar"></div>
		<br>
		<br>
		<%= JST['boards/show/owner_avatar']({board: this.model}) %>
	</div>
</div>

<br>
This user!
<a href='/users/<%= board.escape("owner_id") %>'>Check it out!</a>

<br><br><br>

