<div class="tab-pane" id="specs">
	
	<h2>Specs</h2>
	Length: <%= board.escape('model') %><br>
	Length: <%= board.escape('length') %><br>
	Width: <%= board.escape('width') %><br>
	Length: <%= board.escape('condition') %><br>
<%= JST['boards/show/carousel']({board: this.model}) %>
</div>