<div class="tab-pane fade" id="specs">
	
	<h2>Specs</h2>
	Brand: <%= board.escape('brand') %><br>
	Model: <%= board.escape('model') %><br>
	Length: <%= board.escape('length') %><br>
	Width: <%= board.escape('width') %><br>
	Condition: <%= board.escape('condition') %><br>

</div>