<h2 style="color: white">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div style="color: white"><%= f.label :email %><br>
  <%= f.email_field :email, autofocus: true %></div>
  <br>
  <button type="submit" class="btn btn-warning">Send me reset password instructions</button>
<% end %>
<br>

<%= render "devise/shared/links" %>