<% if (user.escape('fname')) { %>
	<h1>Welcome back, <%= user.escape('fname') %>!</h1>
<% } else { %>
	<h1>Welcome back! </h1>
<% } %>

Email: <%= user.escape('email') %> <br>
First Name: <%= user.escape('fname') %> <br>
Last Name: <%= user.escape('lname') %> <br>
<br>
The User Calendar:
<br>

<br>
<%= JST['user/rental_information']({user: this.model}) %>