<!-- <h1>The Boards</h1>

<br>
<% @boards.each do |board| %>
	Brand: <%= board.brand %>
	Model: <%= board.model %>
	User: <%= board.owner_id %>
	<%= link_to "have a looksee", board_url(board.id) %>
	<br><br>
<% end %>


<%= link_to "Create a new board", new_board_url %> -->
