<h1>The Board</h1>

<br>
User: <%= @board.owner_id %>
Brand: <%= @board.brand %>
Model: <%= @board.model %>
<br>
<% @board.rentals.each do |rental| %>
	Start Date: <%= rental.start_date %>
	End Date: <%= rental.end_date %>
	User: <%= rental.renter_id %>
  Price: <%= rental.price %>
  Status: <%= rental.status %>
  <br>
<% end %>

<h1>Create Rental Request</h1>

<form action="<%= board_board_rentals_url(@board.id) %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="board_rental_start_date">Start Date</label>
  <input
    type="date"
    name="board_rental[start_date]"
    id="board_rental_start_date">
  <br>

  <label for="board_rental_end_date">End Date</label>
  <input
    type="date"
    name="board_rental[end_date]"
    id="board_rental_end_date">
  <br>

<!--   <label for="board_rental_price">Price</label>
  <input
    type="integer"
    name="board_rental[price]"
    id="price">
  <br> -->

  <label for="board_rental_status">Status</label>
  <select name="board_rental[status]" id="board_rental_status">
    <option value="Unavailable">Unavailable</option>
    <option value="Pending">Pending</option>
    <option value="Denied">Denied</option>
    <option value="Approved">Approved</option>
  </select>

  <input type="submit">
</form>

<br>
<%= link_to "The Boards...", boards_url %>