<!DOCTYPE html>
<html>
<head>
  <title>SurfboardApp</title>
 

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMZjngWR9rNHn3zKOmzi4MUc-GmeCPj98
&sensor=true">
  </script>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


		


   <script type="text/javascript">
      function initialize() {
   //      // var mapOptions = {
   //      //   center: new google.maps.LatLng(-34.397, 150.644),
   //      //   zoom: 8
   //      // };
   //      // var map = new google.maps.Map(document.getElementById("map-canvas"),
   //      //     mapOptions);
      }
      // google.maps.event.addDomListener(window, 'load', initialize);
    </script>


</head>
<body>

	<%= render "layouts/navbar" %>

	<%= flash[:errors].join if flash[:errors] %>

	<!--Devise login alerts...edit or remove at some point! -->
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>

<%= yield %>


<!-- <div id="map-canvas"/> -->

</body>
</html>
