<!DOCTYPE html>
<html>
<head>
  <title>SurfboardApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align=center>
<iframe width="840" height="630" src="//www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allowfullscreen style="margin-top: 50px"></iframe>
</div>

	<!-- <%= render "layouts/navbar" %> -->

	<%= flash[:errors].join if flash[:errors] %>

	<!--Devise login alerts...edit or remove at some point! -->
	<% if notice %>
	  <p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-danger"><%= alert %></p>
	<% end %>



<%= yield %>

</body>
</html>
